@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');
* {
    padding:  0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
body {
    background-color: hsl(180, 52%, 96%);
}
.header {
    width: 100%;
    height: 20vh;
    background: url(./images/bg-header-desktop.svg) no-repeat;
    background-color: hsl(180, 29%, 50%);
}
.searchBar {
    display: none;
    width:80% ;
    min-height: 8vh;
    margin: -20px auto 0px;
    padding: 20px;
    background-color: white;
    justify-content: space-between;
    text-align: center;
    button {
        background-color: transparent;
        border: none;
        color:hsl(180, 29%, 50%) ;
        text-decoration:2px underline hsl(180, 29%, 50%);
        font-weight: 700;        
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        flex-wrap: wrap;
    }
    span {
        padding: 8px;
        color:hsl(180, 29%, 50%) ;
        background-color:hsl(180, 52%, 96%) ;
        border: none;
        font-weight: 700;       
    }
    img {
        background-color: hsl(180, 29%, 50%);
        padding: 8px;
    }
    img:hover {
        background-color: black;
    }


}
.main {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    .employee {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: white;
        margin-bottom: 20px;
        border-radius: 10px;
        transition: all .3s ease-in-out;
        hr {
            display: none;
        }
        p {
            color: hsl(180, 29%, 50%);
        }
        .new , .featured {
            padding: 6px 5px 4px 5px;
            border-radius: 10px;
            margin-right: 10px;
            color: white;
            font-weight: 500;
            font-size: 12px;
            border: none;
        }
        .new {
            background-color: hsl(180, 29%, 50%);
        }
        .featured {
            background-color: hsl(180, 14%, 20%);
        }
        .informations {
            width: 50%;
            margin-left: 20px;
        }
        h3 {
            margin: 10px 0;
            color: black;
            transition: all .3s ease-in-out;
            cursor: pointer;
        }
        h3:hover{
            color: hsl(180, 29%, 50%);
        }
        h3 + p {
            color: rgb(163, 162, 162);
            font-size: 15px;
        } 
        .skills {
            width: 35%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        .skills button {
            padding: 10px;
            color:hsl(180, 29%, 50%) ;
            background-color:hsl(180, 52%, 96%) ;
            border: none;
            font-weight: 700;
            border-radius: 5px;
            transition: all .3s ease-in-out;
            margin-right: 10px;
            margin-bottom: 10px;
        }
        .skills button:hover {
            background-color:hsl(180, 29%, 50%) ;
            color:hsl(180, 52%, 96%) ;
        }
    }
    .employee:hover {
        transform: scale(1.05);
    }
}
@media (max-width : 900px) {
    .main {
        width: 90%;
    }
}
@media (max-width : 820px) {
    .main .employee {
        display: block;
        margin-bottom: 50px; 
        img {
            margin-top: -60px;
        }
        .informations {
            width: 100%;
            margin: 0;
        }
        hr {
            display: block;
            height: 1px;
            background-color: lightgray;
            border: none;
            margin: 20px 0;
        }
        .skills {
            width: 100%;
        }
    }
}
@media (max-width : 400PX) {
    img {
        width: 60px;
    }
}