@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

body {
  background-color: #effafa;
}

.header {
  width: 100%;
  height: 20vh;
  background: url(./images/bg-header-desktop.svg) no-repeat;
  background-color: #5ba4a4;
}

.searchBar {
  display: none;
  width: 80%;
  min-height: 8vh;
  margin: -20px auto 0px;
  padding: 20px;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.searchBar button {
  background-color: transparent;
  border: none;
  color: #5ba4a4;
  -webkit-text-decoration: 2px underline #5ba4a4;
          text-decoration: 2px underline #5ba4a4;
  font-weight: 700;
}

.searchBar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.searchBar span {
  padding: 8px;
  color: #5ba4a4;
  background-color: #effafa;
  border: none;
  font-weight: 700;
}

.searchBar img {
  background-color: #5ba4a4;
  padding: 8px;
}

.searchBar img:hover {
  background-color: black;
}

.main {
  width: 80%;
  margin: auto;
  padding-top: 50px;
}

.main .employee {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.main .employee hr {
  display: none;
}

.main .employee p {
  color: #5ba4a4;
}

.main .employee .new, .main .employee .featured {
  padding: 6px 5px 4px 5px;
  border-radius: 10px;
  margin-right: 10px;
  color: white;
  font-weight: 500;
  font-size: 12px;
  border: none;
}

.main .employee .new {
  background-color: #5ba4a4;
}

.main .employee .featured {
  background-color: #2c3a3a;
}

.main .employee .informations {
  width: 50%;
  margin-left: 20px;
}

.main .employee h3 {
  margin: 10px 0;
  color: black;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.main .employee h3:hover {
  color: #5ba4a4;
}

.main .employee h3 + p {
  color: #a3a2a2;
  font-size: 15px;
}

.main .employee .skills {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .employee .skills button {
  padding: 10px;
  color: #5ba4a4;
  background-color: #effafa;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-right: 10px;
  margin-bottom: 10px;
}

.main .employee .skills button:hover {
  background-color: #5ba4a4;
  color: #effafa;
}

.main .employee:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 900px) {
  .main {
    width: 90%;
  }
}

@media (max-width: 820px) {
  .main .employee {
    display: block;
    margin-bottom: 50px;
  }
  .main .employee img {
    margin-top: -60px;
  }
  .main .employee .informations {
    width: 100%;
    margin: 0;
  }
  .main .employee hr {
    display: block;
    height: 1px;
    background-color: lightgray;
    border: none;
    margin: 20px 0;
  }
  .main .employee .skills {
    width: 100%;
  }
}

@media (max-width: 400PX) {
  img {
    width: 60px;
  }
}
/*# sourceMappingURL=style.css.map */